
.panel-container{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel-title{
    font-size: clamp(1rem, 4vmin, 2rem);
    font-weight: bold;
    text-align: center;
}