
.calendar-container{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 350px;
}
.calendar-date{
    background-color: #e9ecef;
}

.calendar-date-inactive{
    color: grey;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 3vmin;
    background-color: white;
}

.calendar-cell{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}



.calendar-dayofweek{
    background-color: lightblue;
}
.calendar-date-inactive:hover{
    cursor: pointer;
    font-weight: bold;
}

.calendar-date:hover:not(:has(.calendar-arrow:hover))  {
    cursor: pointer;
    background-color: #fefae0;
  }

.calendar-grid{
    display: inline-grid;
    width: 350px;
    height: 300px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: inherit;
    grid-auto-columns: inherit;
    position: relative;
}


.calendar-header{
    font-family:system-ui, sans-serif;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.calendar-month{
    font-weight: bold;
    cursor: pointer;
}

.calendar-month:hover{
    background-color: lightyellow;
}

.calendar-header-item{
    font-size: clamp(1rem, 5vmin, 2rem);
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 1rem;
    position: relative;
    box-sizing: padding-box;
}

.calendar-year{
    font-style: italic;
    
}

.splitDate-container{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #e9ecef;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.splitDate-date{
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    height: 150%;
}
.splitDate-date:hover{
    background-color: #fefae0;
}
.splitDate-lower{
    border: 1px solid black;
    top: 7%;
    left: 39%;
}

.splitDate-upper{
    bottom: 7%;
    right: 39%;
}

.splitDate-day1{
    position: absolute;
    padding: 3px;
    pointer-events: none;
}

.splitDate-day2{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px;
    pointer-events: none;
}



.calendar-arrow{
    background-image: url('../../arrow-right.svg');
    background-position: center;
    height: 12px;
    width: 12px;
    position: absolute;
    padding: 2px;
}

.calendar-next{
    bottom: 0;
    right: 0;
}
.calendar-prev{
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}
.calendar-arrow:hover{
    opacity: 0.25;
}

.calendar-menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width: 1500px){
    .calendar-grid{
    }
}